/**
 * Button Component Styles
 *
 * @package KR_Theme
 * @since 1.4.0
 */

.btn,
button,
input[type='button'],
input[type='submit'] {
    @include button-base;
}

.btn-primary {
    background-color: $primary-color;
    color: $white;
    
    &:hover {
        background-color: $primary-dark;
    }
}

.btn-secondary {
    background-color: $secondary-color;
    color: $white;
    
    &:hover {
        background-color: $secondary-dark;
    }
}
