/**
 * Modal Component Styles
 *
 * @package KR_Theme
 * @since 1.4.0
 */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
    @include flex-center;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity, visibility);
    
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal-content {
    background-color: $white;
    padding: $spacing-2xl;
    border-radius: $border-radius-lg;
    max-width: 500px;
    width: 90%;
}
