/**
 * Footer Styles
 *
 * @package KR_Theme
 * @since 1.4.0
 */

.site-footer {
    background-color: $heading-color;
    color: $white;
    padding: $spacing-3xl $container-padding;
    margin-top: $spacing-4xl;
}

.footer-inner {
    max-width: $layout-max-width;
    margin-left: auto;
    margin-right: auto;
}
