/**
 * Grid System
 *
 * @package KR_Theme
 * @since 1.4.0
 */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.col {
    flex: 1 1 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    @for $i from 1 through 12 {
        &-#{$i} {
            flex: 0 0 (100% * ($i / 12));
        }
    }
}
